body {
  text-align: center;
  background-color: black;
  background-image: url('https://unsplash.com/photos/uhjiu8FjnsQ/download');
  font-family:  'Press Start 2P', cursive;
  color: whitesmoke;
  text-shadow: 2px 2px gray;
  }
  img{
    margin-top: 5px;
    margin-bottom: 50px;
  }

  .iss {
  display: flex;
  position: relative;
  align-items: flex-start;
  animation: myfirst 30s 20;
  animation-direction: normal;

  /* props to help with my animation go to https://www.w3schools.com/cssref/css3_pr_animation-direction.asp */
  
}

@keyframes myfirst {
  0%   { left: 0px; top: 0px;}
  25%  { left: 1300px; top: 0px;}
  50%  { left: 1300px; top: 300px;}
  75%  { left: 0px; top: 300px;}
  100% { left: 0px; top: 0px;}
  
  
  

}

  button {
    background-color: gold ;
    width: 125px;
    height: 40px;
    font-family:  'Press Start 2P', cursive;
    margin: 15px;
  }
  input {
  font-family:  'Press Start 2P', cursive;
  background-color: gold ;
    width: 125px;
    height: 35px;
  text-align: center;
  font-size: 15px;
  margin: 15px;
  
  }
  main {
  font-family: 'Orbitron', sans-serif;
  color: darkgray;
  text-shadow: 2px 2px black;
  margin-left: 40px;
  margin-right: 40px;
  }

  .neo-list {
  color: whitesmoke;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 2px 2px black;
  justify-content: space-around;
  justify-content: center;
  display: flex;  
  flex-wrap: wrap;
  background-image: linear-gradient(to right, black, rgb(26, 25, 25));
  letter-spacing: 5px;
  font-size: 15px;
  background-image: url("https://images.unsplash.com/photo-1583446689741-b39fa2703b22?ixlib=rb-1.2.1&auto=format&fit=crop&w=1596&q=80");
  box-shadow: 0 0 15px 15px rgb(0, 0, 0) inset;

  }

  h1 {
  font-size: 20px;
  }
  h2 {
    font-size: 30px;
    letter-spacing: 10px;
  }
  header {
  font-size: 30px;
  color: orange;
  letter-spacing: 15px;
  margin: 30px;
  padding-top: 20px;
  }
  .ending {
    margin: 20px 20px
  }
  footer {
    color: #EE6E73;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px black;
    letter-spacing: 10px;
  }
  h3 {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 15px;
  
  }
  h5 {
    margin-left: 200px;
  margin-right: 200px;
    font-size: 15px;
  }
  p{
    margin-left: 200px;
  margin-right: 200px;
    font-size: 15px;
  }
  h6 {
    margin-left: 200px;
  margin-right: 200px;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 60px;
    
    
  }
  
  